{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}

{% block aboutActive %} active {% endblock aboutActive %}

{% block body %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">iCoder</h1>
        <p>iCoder , one of the creations of Ayush Soni is a website which contains latest technical blogs. This website comprises of blogs about various languages and other stuffs that you as a programmer will definitely find appealing. For those who are from non-programming background will also find it quite useful.  </p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row my-3">
        <div class="col-md-4">
          <h3>Read Tech-Blogs</h3>
          <p>You can read blogs about different technologies that u want get familiar with. You can also search the anything in the Search-Box.</p>
        </div>
        <div class="col-md-4">
          <h3>Create Account</h3>
          <p>You can create an iCoder account. This will give you access to get in touch with the Admin and write to him your views or bugs related to the website , comment on any blog or reply to a specific comment.</p>
        </div>
        <div class="col-md-4">
          <h3>Insights</h3>
          <p>This website was built on django , which is a python framework. Some other used tools are HTML , CSS , Bootstrap , JavaScript.</p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
{% endblock body %}