{% extends 'base.html' %}
{% block title %}blogHome{% endblock title %}

{% block js %}
   <script>
       let previews = document.getElementsByClassName("preview");
       Array.from(previews).forEach((element)=>{
           element.innerHTML = element.innerText;
       })
   </script>
{% endblock %}

{% block blogActive %} active {% endblock blogActive %}

{% block body %}
<div class="container my-3">
    <h2> Coding Articles:</h2>
    {% for post in allPost %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row my-3 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Article By {{post.author}}</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.timeStamp}}</div>
            <p class="card-text mb-auto"><div class="preview">{{post.content|safe|truncatechars:900}}</div></p>
            <div class="mt-3">
                <a href="/blog/{{post.slug}}" role="button" class="btn btn-info">Continue reading</a>
            </div>
        </div>
        <div class="col-auto d-none d-lg-block">

        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}
